@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }


        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 15px;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .bottom-centered {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>

    <div class="jumbotron">
        <div class="container text-center">
            <img src="https://images5.alphacoders.com/593/thumb-1920-593201.jpg" class="img-responsive" style="width:100%" alt="Image" />
            <div class="centered"><p> UwU Store.... </p></div>
            <div class="bottom-centered"><p>For all your UwU needs</p></div>
        </div>
    </div>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">EASTER FLASH SALE! </div>
                    <div class="panel-body"><img src="https://cdn.designbyhumans.com/product_images/p/1146155.2c9.32942S7YyNAAA-650x650-b-p.png" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer"><b> Sale Ends in ... </b> <iframe src="http://free.timeanddate.com/countdown/i6qecwu4/n184/cf11/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pceee/tcfff/fs90/szw256/szh108/iso2019-05-01T00:00:00/pd2" allowTransparency="true" frameborder="0" width="210" height="14"></iframe></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">EASTER FLASH SALE!</div>
                    <div class="panel-body"><img src="https://i.ebayimg.com/thumbs/images/m/mDvT7O6Omt2gOatGZzYx4_g/s-l225.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer"><b> Sale Ends in ... </b> <iframe src="http://free.timeanddate.com/countdown/i6qecwu4/n184/cf11/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pceee/tcfff/fs90/szw256/szh108/iso2019-05-01T00:00:00/pd2" allowTransparency="true" frameborder="0" width="210" height="14"></iframe></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">EASTER FLASH SALE!</div>
                    <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0174/7635/4112/products/mockup-e144db19_1600x.png?v=1550649540" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer"> <b> Sale Ends in ...</b> <iframe src="http://free.timeanddate.com/countdown/i6qecwu4/n184/cf11/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pceee/tcfff/fs90/szw256/szh108/iso2019-05-01T00:00:00/pd2" allowTransparency="true" frameborder="0" width="210" height="14"></iframe></div>
                </div>
            </div>
        </div>
    </div><br>

    <footer class="container-fluid text-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shipping Policy</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>

</body>
</html>
